$media-xs:576px;
$media-sm:768px;
$media-md:1024px;
$media-lg:1366px;
$media-xl:1600px;

$font-barlow: 'Ubuntu', sans-serif;
$font-Bebas: 'Ubuntu', cursive;
$font-Poppins: 'Ubuntu', sans-serif;
$font-Roboto: 'Ubuntu', sans-serif;

$primary-color: #03026B;
$second-color: #0A53A0;
$gradient-color: linear-gradient(to right, #03026B,#0A53A0,#FCC508);